@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-border: hsl(var(--border));
  --color-ring: hsl(var(--ring));
}

:root {
  --primary: 243 75% 59%;
  --primary-foreground: 0 0% 100%;

  --background: 0 0% 100%;
  --foreground: 222 47% 11%;

  --border: 214 32% 91%;
  --ring: 262 83% 58%;
}

@layer base {
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
@layer base {
  .material-symbols-outlined {
    font-variation-settings:
      "FILL" 0,
      "wght" 400,
      "GRAD" 0,
      "opsz" 24;
    display: inline-block;
  }
  .fill-1 {
    font-variation-settings: "FILL" 1 !important;
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% center;
  }
  100% {
    background-position: 200% center;
  }
}
